<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load mathfilters %}
{% load humanize %}
<html>
<head>

<style type="text/css">
body {
    font-family:Helvetica, sans-serif;
    color:#222;
    line-height:1.5;
}
table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
    margin:20px 0;
}
table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}
tbody tr:nth-child(odd) {
    background:#efefef;
}
thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}
h1 {
    margin:0;
}
.secondary {
    color:#bbb;
    margin-bottom:20px;
}
.num {
    text-align:right;
}
.paid, .pending {
    color:#1bae37;
    border:4px solid #1bae37;
    text-transform:uppercase;
    font-weight:bold;
    font-size:22px;
    padding:12px;
    float:right;
    transform: rotate(-15deg);
    margin-right:40px;
}
.pending {
    color:#a82d2d;
    border:4px solid #a82d2d;
}
</style>

</head>
<div class="row">
    <h1 style="padding-left: 15Px">Summary</h1>


    <div class="row">
        <h1 style="padding-left: 15Px">Overall Portfolio Performance</h1>
    </div>
    <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Portfolio Initial Investments</th>
                    <th>Portfolio Current Investments</th>
                    <th>Grand Total Results</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ sum_of_initial_stock_value|add:sum_recent_value.recent_value__sum }}</td>
                        <td>{{ sum_current_stocks_value|add:sum_acquired_value.acquired_value__sum}}</td>
                        <td>{{ sum_current_stocks_value|add:sum_of_initial_stock_value|add:sum_recent_value.recent_value__sum|add:sum_acquired_value.acquired_value__sum|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="row">
        <h2 style="padding-left: 15Px">Stocks Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Initial Stock Price</th>
                <th>Initial Stock Value</th>
                <th>Current Stock Price</th>
                <th>Current Stock Value</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.customer }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.purchase_price|intcomma }}</td>
                    <td>{{ stock.initial_stock_value|intcomma }}</td>
                    <td>{{ stock.current_stock_price|intcomma }}</td>
                    <td>{{ stock.current_stock_value|intcomma }}</td>
                    <td>{{ sum_current_stocks_value|sub:sum_of_initial_stock_value|intcomma  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Total of Initial Stocks</th>
                    <th>Total of Current Stocks</th>
                    <th>Results</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ sum_of_initial_stock_value}}</td>
                        <td>{{ sum_current_stocks_value}}</td>
                        <td>{{ sum_current_stocks_value|add:sum_of_initial_stock_value|intcomma  }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="row">
            <h2 style="padding-left: 15Px">Investments Information</h2>
        </div>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Customer number</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Acquired Value</th>
                    <th>Acquired Date</th>
                    <th>Recent Value</th>
                    <th>Recent Date</th>
                    <th>Results</th>

                </tr>
                </thead>
                <tbody>
                {% for investment in investments %}
                    <tr>
                        <td>{{ investment.customer }}</td>
                        <td>{{ investment.category }}</td>
                        <td>{{ investment.description }}</td>
                        <td>{{ investment.acquired_value|intcomma }}</td>
                        <td>{{ investment.acquired_date }}</td>
                        <td>{{ investment.recent_value|intcomma }}</td>
                        <td>{{ investment.recent_date }}
                        <td>{{ investment.results_by_investment|intcomma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
    <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Total of Initial Investments</th>
                    <th>Total of Current Investments</th>
                    <th>Results</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ sum_recent_value.recent_value__sum }}</td>
                        <td>{{ sum_acquired_value.acquired_value__sum}}</td>
                        <td>{{ sum_recent_value.recent_value__sum|add:sum_acquired_value.acquired_value__sum|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>


